<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css" rel="stylesheet" />
    <title>Cửa hàng dụng cụ học tập</title>
    <link rel="icon" href="~/Assets/image/logo_icon.png" />
    <link rel="stylesheet" href="~/Assets/CSS/TrangGioHang.css" />
    <link rel="stylesheet" href="~/Assets/CSS/TrangChu.css" />
    <!-- link thu vien icon Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />
</head>
<body>
    <div id="scale-wrapper">
        <!-- Phần header -->
        <div class="header">
            <div class="header-dkdn container">
                <p class="welcome">Chào bạn đến với cửa hàng dụng cụ học tập School Supplies Store</p>
                <div class="dangki-dangnhap" id="userArea"></div>
            </div>
            <hr class="hr-hd" />
            <div class="header-top container">
                <!-- Logo của cửa hàng -->
                <div class="logo">
                    <img src="~/Assets/image/logo_store.svg" alt="logo_store" />
                </div>
                <!-- Thanh tìm kiếm -->
                <form class="search-box">
                    <input type="text" placeholder="Tìm sản phẩm........." />
                    <button><i class="fa fa-search"></i></button>
                </form>
                <!-- Hotline với Giỏ hàng -->
                <div class="right-box">
                    <div class="hotline-box-head">
                        <i class="fa-solid fa-phone-volume"></i>
                        <div class="hotline-text">
                            <span class="title">Hotline</span>
                            <span class="number">076 299 0875</span>
                        </div>
                    </div>
                    <a class="GioHang" href="/GioHang/GioHang">
                        <i class="fa-solid fa-cart-shopping"></i>
                    </a>
                </div>
            </div>
            <!--Thanh menu -->
            <nav class="menu">
                <ul>
                    <li><a href="/Home/Index">Trang chủ</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href='SanPhamChung/SanPhamChung'</a>Sản phẩm</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/SanPham/SanPham">Dụng cụ viết</a></li>
                            <li><a class="dropdown-item" href="/SPVoHocSinh/SPVoHocSinh"</a>Vở học sinh</a></li>
                            <li><a class="dropdown-item" href="/SPDungCuDo_TinhToan/SPDungCuDo_TinhToan">Dụng cụ đo, tính toán</a></li>
                            <li><a class="dropdown-item" href="/HoaPham/HoaPham">Họa phẩm</a></li>
                            <li><a class="dropdown-item" href="/SPBalo/SPBalo">Balo</a></li>
                            <li><a class="dropdown-item" href="/SPCacSanPhamKhac/SPCacSanPhamKhac">Các sản phẩm khác</a></li>
                        </ul>
                    </li>
                    <li><a href="/YeuThich/YeuThich">Yêu thích</a></li>
                    <li><a href="/LienHe/LienHe" class="active">Liên hệ</a></li>
                </ul>
            </nav>
        </div>
        <!-- Phần Content -->
        <main class="GioHangne container my-4">
            <h2 class="text-center tieuDe">GIỎ HÀNG CỦA BẠN</h2>
            <div class="table-responsive">
                <!-- xu ly js -->
                <table class="table table-bordered align-middle text-center bangTVGH">
                    <thead>
                        <tr>
                            <th>Hình ảnh</th>
                            <th>Tên sản phẩm</th>
                            <th>Giá</th>
                            <th>Số lượng</th>
                            <th>Tổng</th>
                            <th>Xóa</th>
                        </tr>
                    </thead>
                    <tbody id="dsGioHang"></tbody>
                </table>
            </div>
            <a href="~/Assets/Html/SanPhamChung.html">
                <div class="nutThemTrai mt-3">
                    <button class="btnThemKhac">Thêm sản phẩm khác</button>
                </div>
            </a>
        </main>
        <!-- thanh toán -->
        <section class="container mt-4" id="payment-box">
            <div class="row justify-content-end">
                <div class="col-md-4">
                    <table class="table-thanhtoan">
                        <tr>
                            <td><strong>Tổng tiền thanh toán</strong></td>
                            <td><span id="tongCong">0</span></td>
                        </tr>
                    </table>
                    <button class="btn w-100" id="btnThanhToan">Thanh toán</button>
                </div>
            </div>
        </section>
        <!--Form thông tin đặt hàng -->
        <section class="container my-4 thongtin-box py-4 px-5">
            <h4 class="tieuDe-form">THÔNG TIN ĐẶT HÀNG</h4>

            <form id="formThanhToan">
                <div class="mb-3 row align-items-center">
                    <label class="col-sm-3 col-form-label">Họ và tên *</label>
                    <div class="col-sm-9">
                        <input id="hoten" type="text" class="form-control custom-input" placeholder="" required />
                    </div>
                </div>

                <div class="mb-3 row align-items-center">
                    <label class="col-sm-3 col-form-label">Địa chỉ *</label>
                    <div class="col-sm-9">
                        <input id="diachi" type="text" class="form-control custom-input" placeholder="" required />
                    </div>
                </div>

                <div class="mb-3 row align-items-center">
                    <label class="col-sm-3 col-form-label">Tỉnh/ Thành phố *</label>
                    <div class="col-sm-9">
                        <input id="tinh" type="text" class="form-control custom-input" placeholder="" required />
                    </div>
                </div>

                <div class="mb-3 row align-items-center">
                    <label class="col-sm-3 col-form-label">Xã/ Phường *</label>
                    <div class="col-sm-9">
                        <input id="xa" type="text" class="form-control custom-input" placeholder="" required />
                    </div>
                </div>

                <div class="mb-3 row align-items-center">
                    <label class="col-sm-3 col-form-label">Số điện thoại *</label>
                    <div class="col-sm-9">
                        <input id="sdt" type="text" class="form-control custom-input" placeholder="" required />
                    </div>
                </div>

                <div class="mb-3 row align-items-center">
                    <label class="col-sm-3 col-form-label">Email *</label>
                    <div class="col-sm-9">
                        <input id="email" type="email" class="form-control custom-input" placeholder="" required />
                    </div>
                </div>

                <div class="mb-3 row align-items-start">
                    <label class="col-sm-3 col-form-label">Ghi chú (nếu có)</label>
                    <div class="col-sm-9">
                        <textarea id="ghichu" class="form-control custom-input" rows="3"></textarea>
                    </div>
                </div>

                <div class="d-flex justify-content-between align-items-center mt-4">
                    <h5 class="tongTien">
                        Tổng thanh toán:
                        <span id="tongThanhToan">0</span>
                    </h5>
                    <button type="submit" class="btnDatHang">Đặt hàng</button>
                </div>
            </form>
        </section>
        <!-- Thông báo thanh toán thành công hiện tài khoản chuyển khoảng -->
        <section class="container my-4 thongbao-thanhtoan">
            <h3>Đặt hàng thành công!</h3>
            <p class="ma-donhang">
                Mã mua hàng của bạn:
                <span id="maDonHang">0123</span>
            </p>
            <p class="taikhoan">Tài khoản thanh toán</p>

            <div class="qr-box">
                <img src="~/Assets/image/qrthanhtoan.svg" alt="QR thanh toán" />
            </div>

            <p class="huongdan">
                Thực hiện thanh toán vào ngay tài khoản ngân hàng của chúng tôi.
                <br />
                Vui lòng sử dụng
                <strong>Mã đơn hàng</strong>
                của bạn trong phần
                <strong>Nội dung thanh toán</strong>
                .
                <br />
                Đơn hàng sẽ được giao sau khi tiền đã chuyển.
            </p>
        </section>
        <!-- Phần footer -->
        <footer class="footer">
            <div class="container container-footer">
                <div class="row">
                    <!-- CỘT 1: THÔNG TIN -->
                    <div class="col-lg-4 col-md-6 col-12 footer-col">
                        <h3>THÔNG TIN CHUNG</h3>
                        <p>
                            SchoolSuppliesStore là cửa hàng bán dụng cụ học tập,
                            <br />
                            luôn cập nhật các sản phẩm mới theo xu thế thị trường.
                        </p>

                        <p>
                            <i class="fa-solid fa-envelope"></i>
                            SchoolSuppliesStore@gmail.com
                        </p>

                        <p>
                            <i class="fa-solid fa-location-dot"></i>
                            243 Trần Văn Giàu, Phường Hòa Thuận,
                            <br />
                            Tỉnh Vĩnh Long
                        </p>

                        <div class="hotline-box-end">
                            <i class="fa-solid fa-phone-volume phone-icon"></i>
                            <div>
                                <p class="hotline-number">076.299.0875</p>
                                <p class="hotline-time">7h00 - 18h00 (T2 - T7)</p>
                            </div>
                        </div>
                    </div>

                    <!-- CỘT 2: HỖ TRỢ + CHÍNH SÁCH -->
                    <div class="col-lg-4 col-md-6 col-12 footer-col">
                        <div class="row">
                            <div class="col-6">
                                <h3>HỖ TRỢ</h3>
                                <ul>
                                    <li>Mua hàng</li>
                                    <li>Đổi trả</li>
                                    <li>Tư vấn sản phẩm</li>
                                    <li>Kiểm tra đơn hàng</li>
                                </ul>
                            </div>

                            <div class="col-6">
                                <h3>CHÍNH SÁCH</h3>
                                <ul>
                                    <li>Về chúng tôi</li>
                                    <li>Thanh toán</li>
                                    <li>Bảo mật</li>
                                    <li>Bảo hành</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <!-- CỘT 3: NEWSLETTER + SOCIAL -->
                    <div class="col-lg-4 col-md-6 col-12 footer-col">
                        <h3>NHẬN TIN KHUYẾN MÃI</h3>
                        <p class="support-text">Hỗ trợ khách hàng 24/7</p>

                        <div class="newsletter">
                            <input type="email" placeholder="Nhập Email của bạn" />
                            <button>Đăng ký</button>
                        </div>

                        <h3 class="follow-title">THEO DÕI CHÚNG TÔI</h3>
                        <div class="social-icons">
                            <img src="~/Assets/image/icon/icon-fb.svg" />
                            <img src="~/Assets/image/icon/icon-ista.svg" />
                            <img src="~/Assets/image/icon/icon-ytb.svg" />
                            <img src="~/Assets/image/icon/icon-tt.svg" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="footer-bottom">© Bản quyền thuộc về School Supplies Store</div>
        </footer>
        <button id="backToTop" title="Lên đầu trang">
            <i class="fa-solid fa-chevron-up"></i>
        </button>
    </div>
    <script src="~/Assets/jjs/Trangchu.js"></script>
    <script src="~/Assets/jjs/Giohang.js"></script>
    <script src="~/Assets/jjs/Timkiem.js"></script>
</body>
</html>
