@model IEnumerable<StationeryWebsite.Models.Product>

@{
    ViewBag.Title = "SanPham";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}


@{
    ViewBag.Title = "SanPham";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<main class="container my-4">
    <div class="row">
        <!-- Danh mục bên trái -->
        <div id="sidebar" class="col-md-3 sidebar">
            <!-- Danh mục -->
            <div class="sidebar-box">
                <h3 class="sidebar-title">DANH MỤC</h3>
                <ul class="sidebar-menu">
                    <li>
                        <i class="fa-solid fa-pencil"></i>
                        <a href="~/Assets/Html/TrangSanPham.html" class="active">Dụng cụ viết</a>
                    </li>
                    <li>
                        <i class="fa-solid fa-book"></i>
                        <a href="~/Assets/Html/SPDungVoHocSinh.html">Vở học sinh</a>
                    </li>
                    <li>
                        <i class="fa-solid fa-calculator"></i>
                        <a href="~/Assets/Html/SPDungCuDo_TinhToan.html">Dụng cụ đo, tính toán</a>
                    </li>
                    <li>
                        <i class="fa-solid fa-palette"></i>
                        <a href="~/Assets/Html/SPHoaPham.html">Họa phẩm</a>
                    </li>
                    <li>
                        <i class="fa-solid fa-briefcase"></i>
                        <a href="~/Assets/Html/SPBalo.html">Balo</a>
                    </li>
                    <li>
                        <i class="fa-solid fa-box"></i>
                        <a href="~/Assets/Html/SPCacSanPhamKhac.html">Các sản phẩm khác</a>
                    </li>
                </ul>
            </div>

            <!-- Sản phẩm nổi bật -->
            <div class="sidebar-box">
                <h3 class="sidebar-title">SẢN PHẨM NỔI BẬT</h3>

                <ul class="sidebar-product-list" id="sanPhamNoiBat">
                    <!-- JS sẽ render vào đây -->
                </ul>
            </div>
            <div class="sidebar-box">
                <h5 class="sidebar-title">GIÁ SẢN PHẨM</h5>

                <label>
                    <input type="checkbox" class="loc-gia" data-min="0" data-max="20000" />
                    Giá dưới 20.000 đ
                </label>

                <label>
                    <input type="checkbox" class="loc-gia" data-min="20000" data-max="50000" />
                    20.000 đ - 50.000 đ
                </label>

                <label>
                    <input type="checkbox" class="loc-gia" data-min="50000" data-max="100000" />
                    50.000 đ - 100.000 đ
                </label>

                <label>
                    <input type="checkbox" class="loc-gia" data-min="100000" data-max="200000" />
                    100.000 đ - 200.000 đ
                </label>

                <label>
                    <input type="checkbox" class="loc-gia" data-min="200000" data-max="999999999" />
                    Giá trên 200.000 đ
                </label>
            </div>
            <!-- Banner -->
            <div class="sidebar-banner">
                <img src="~/Assets/image/bannersp.svg" alt="" />
            </div>
        </div>

        <!-- Phần sản phẩm bên phải -->
        <div class="col-md-9">
            <h2 class="txtdungcuviet mb-4">DỤNG CỤ VIẾT</h2>
            <hr />

            <div class="row g-3" id="listSanPham"></div>
            <!-- Nút chuyển trang -->
            <div class="phantrang" id="pagination"></div>
        </div>
    </div>
</main>


